node_modules
/node_modules
/.next/
.next

/out/
/build
build
.build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# env
.env
.env.local

# TypeScript
*.tsbuildinfo
next-env.d.ts